<!DOCTYPE html>
<html <% if(config.language) { %>lang="<%= config.language %>"<% } else { %>lang="en"<% }%>>

	<!-- html header tag -->
	<%- partial('_partial/html/header') %>

	<body>

		<div id="page-top">
			<!-- Header -->
			<%- partial('_partial/page-header') %>
		
			<!-- Menu -->
			<%- partial('_partial/menu') %>
		</div>
	
		<div class="hoz-rule" id="hrHack">&nbsp;</div>
	
		<% if (page.title == 'Home') { %>
			Live the days you can the ways you can
		<% } %>

		<!-- Main Content -->
		<%- body %>
	
		<div class="hoz-rule clear-fix">&nbsp;</div>
	
		<!-- Footer -->
		<%- partial('_partial/socialmedia') %>
		<%- partial('_partial/page-footer') %>

		<!-- html footer tag -->
		<%- partial('_partial/html/footer') %>
	
		</body>

</html>