<!-- Content Full View-->

<article class="page-width page-centre article-height">

	<% if (page.title != 'Home') { %>
		<h1><%- item.title %></h1>
	<% } %>

	<% if (item.youtube) { %>

		<%- partial('_partial/embed-youtube', {item: page}) %>
	
	<% } else { %>
		<% 
		if (item.image) {
				var clip = item.path.length - 1;
				var imagePath = "/images/" + item.path.substring(0, clip) + ".jpg";
		%>

		<img src="<%- imagePath %>" alt="<%- item.imageAltText %>"></img>

		<% } %>
	
	<% } %>

	<%- item.content %>

</article>