<!-- Footer -->

<footer class="page-width page-centre clear-fix">

	<ul class="socialmedialinks">
		<%- if (theme.youtube) { %>
			<li><span class="mdi mdi-youtube mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.twitter) { %>
			<li><span class="mdi mdi-twitter-box mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.imstagram) { %>
			<li><span class="mdi mdi-instagram mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.googleplus) { %>
			<li><span class="mdi mdi-google-plus-box mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.facebook) { %>
			<li><span class="mdi mdi-facebook-box mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.tumblr) { %>
			<li><span class="mdi mdi-tumblr-box mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.blogger) { %>
			<li><span class="mdi mdi-blogger mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.medium) { %>
			<li><span class="mdi mdi-medium mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.discord) { %>
			<li><span class="mdi mdi-discord mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.behance) { %>
			<li><span class="mdi mdi-behance mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.patreon) { %>
			<li><span class="mdi mdi-patreon mdi-48px"></span></li>
		<% } %>
		
		<%- if (theme.kofi) { %>
			<li><span class="mdi mdi-coffee-outline mdi-48px"></span></li>
		<% } %>
	</ul>

	<ul>
		<% for (var i in theme.footerlinks){ %>
			<li>
				<a href="<%- theme.footerlinks[i].url ? url_for(theme.footerlinks[i].url) : url_for(theme.footerlinks[i]) %>"><%= i %></a>
			</li>
		<% } %>
	</ul>
</footer>
